body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #c9cbcf;
  margin-top: 60px;
}

form {
  display: flex;
  flex-direction: column;
  width: min(600px, 100%);
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  margin: 0 auto;
  padding: 25px;
  border-radius: 1.5rem;
}

form div.input-wrapper {
  width: 80%;
}

form div.input-wrapper div.field {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

form div.input-wrapper div.field label {
  color: #999;
  margin-top: 0.5rem;
}

form div.input-wrapper div.field input:not([type="color"]) {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  background-color: transparent;
  border: 4px solid #bbb;
  border-radius: 0.25rem;
  color: #555;
}

button.add-car {
  width: min(250px, 100%);
  padding: 0.5rem;
  background-color: #bbb;
  border: none;
  border-radius: 0.25rem;
  color: #777;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 0.3s;
}

button.add-car:hover {
  background-color: #c9c9c9;
  color: #555;
}

table {
  width: min(800px, 100%);
  border: 1px solid #aaa;
  margin: 30px auto 0;
}

table th,
table td {
  border: 2px solid #ccc;
}

table tr td {
  padding: 0.25rem;
  color: #333;
}

table tr td img {
  width: 128px;
}
